<header>
  <nav class="navbar fixed-top bg-dark text-white">
    <div class="container-fluid">
      <h2 class='title'>Blog Practice App</h2>
      <ul class='nav'>
        <li>
          <a href="/" class='nav-link'>Home</a>
        </li>
        <li>
          <a href='/about' class='nav-link'>About</a>
        </li>
        <li>
          <a href ='/contact' class='nav-link'>Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
