body {
  padding: 10px;
  background-image: url("./images/blog practice app bg.png");
}

@font-face {
  font-family: title;
  src: url('./fonts/Showtime-R9Ke.ttf');
}

.title {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: title;
}

.header {
  background-color: black;
}
