body {
  padding-top: 115px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("./images/blog practice app bg.png");
}

@font-face {
  font-family: title;
  src: url('./fonts/Showtime-R9Ke.ttf');
}

@font-face {
  font-family: nav;
  src: url('./fonts/Market_Deco.ttf');
}

@font-face {
  font-family: footer;
  src: url('./fonts/Roboto-Thin.ttf');
}

.title {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: title;
}

.header {
  background-color: black;
}

.footer {
  padding-top: 5px;
}

.footer-text {
  font-family: footer;
}

.nav-link {
  font-family: nav;
}
